﻿.SuccesssAlert {
    position:relative !important;
    top:60px !important;
    right:30px !important;
   
    background-color: #32c343 !important;
    border:solid 5px #15551c !important;
    border-radius:7px !important;
}
