﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/MenuMaster.master" AutoEventWireup="true" CodeBehind="Index.aspx.cs" Inherits="FlightsAdmin.Index" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
     <div class="logo text_center">
        <img alt="" src="Images/logo.png">
    </div>
    <h1>Weclome to the Admin site for LowCost Flights!!!</h1>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="CPHMain_ScriptsButton" runat="server">
</asp:Content>
